.main-container{
    width: 40%;
    margin: 100px auto;
}

.ch-chessboard{
    aspect-ratio: 1;
    border: thin solid rgb(205, 16, 16);
}

.piece-icon{
    width: 90%;
    aspect-ratio: 1;
    pointer-events: none;
}